cryptography==2.6.1
Flask_SQLAlchemy==2.4.1
watchdog==0.10.2
lxml==4.6.5
Flask==1.1.2
Cython==0.29.16
ipaddr==2.2.0
numpy==1.18.3
ordereddict==1.1
protobuf==3.11.3
pyOpenSSL==19.1.0
wincertstore==0.2
